{% extends "base.html" %}
{% load staticfiles %}

{% block title %}You're Invited!{% endblock %}

{% block extra_css %}
<script src="{% static 'js/jquery-1.11.2.min.js' %}" language="javascript"></script>
{% endblock %}

{% block extra_js %}
    <script language="javascript">
        function setButtonRow(i) {
            var value = $('#value' + i).val();
            attending = $('#attending' + i);
            notattending = $('#notattending' + i);

            if (value === '1') {
                attending.addClass('btn-success');
                notattending.removeClass('btn-danger');
            } else if (value === '0') {
                attending.removeClass('btn-success');
                notattending.addClass('btn-danger');
            }
        };

        $(document).ready(function() {
            $('.btn-attend').click(function(e) {
                var valueField = $('#value' + this.value);
                if (this.id.lastIndexOf('attending') === 0) {
                    valueField.val('1');
                } else {
                    valueField.val('0');
                }
                setButtonRow(this.value);
            });

            $('.btn-attend').each(function(i, obj) {
                setButtonRow(this.value);
            })
        });
    </script>
{% endblock %}

{% block jumbotron %}
<img src="{% static 'img/invited.jpg' %}" class="jumbotron-img" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3>We'd love to have you at our wedding!</h3>
            <p>
                Please let us know who is coming from your party by
                clicking the <b>Attending</b> or <b>Not Attending</b> boxes. Make sure to click this for
                every member of the party. Thank you very much, and we hope to see you there.
            </p>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert col-sm-12 col-xs-12
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    alert-warning
                {% endif %}
                ">{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'invites:rsvp' party.token %}" name="form_confirm" method="post">
        {% csrf_token %}
        {% for member, value in member_list %}
            <input type="hidden" name="member{{forloop.counter}}" value="{{member.pk}}" />
            <input type="hidden" id="value{{ forloop.counter }}" name="value{{forloop.counter}}" value="{{ value }}" />

            <div class="row row-buffer">
                <div class="name-col col-sm-4 col-xs-4">
                    {{ member.name }}
                </div>
                <div class="name-col col-sm-4 col-xs-4 small-horiz-pad">
                    <button type="button" class="btn btn-default btn-attend"
                            id="attending{{ forloop.counter }}" value="{{ forloop.counter }}">
                        Attending
                    </button>
                </div>
                <div class="name-col col-sm-4 col-xs-4 small-horiz-pad">
                    <button type="button" class="btn btn-default btn-attend"
                            id="notattending{{ forloop.counter }}" value="{{ forloop.counter }}">
                        Not Attending
                    </button>
                </div>
            </div>
        {% endfor %}

        <div class="row row-buffer text-center">
            <button type="submit" class="btn btn-default btn-submit">RSVP</button>
        </div>
    </form>
{% endblock %}
