<html>
<head>
<title>RSVP Confirmation</title>
</head>
<body>
You've successfully RSVPed! Thank you.

{% comment %}
<!--<h1>Please confirm that the following guests are attending:</h1>
{% if attendee_list %}
    <ul>
    {% for attendee in attendee_list %}
        <li>{{ attendee }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p> No guests are attending.</p>
{% endif %}
<form action="{% url 'invites:vote' party_ID %}" method="post">
<input type='submit' value='Confirm' />
<input type='reset' value='Reset' />
</form>
</form>
{% if party_list %}
    <ul>
    {% for party in party_list %}
        <li><a href="{% url 'invites:detail' party.ID %}">{{ party.head }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p> No parties are available.</p>
{% endif %}
<input type='submit' value='Confirm' />-->
{% endcomment %}