{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Accommodation{% endblock %}

{% block jumbotron %}
<img src="{% static 'img/invited.jpg' %}" class="jumbotron-img" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3>Accommodation</h3>
            <p>We have reserved room blocks at <a
            href="http://www.hotelmiravista.com/">Hotel Mira Vista</a>, in El
            Cerrito, from Wednesday, August 12 until Sunday August 16, in case
            some guests would like to spend the weekend. Please reserve your
            rooms as soon as possible to take advantage of the reduced rate.
            You do not need to stay all four nights to benefit from the rate.
            The hotel is 20 minutes' drive from the Brazilian Room.</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3147.3951860529105!2d-122.3168532!3d37.9211973!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808578569bdb07d7%3A0x960a9e9495265694!2sHotel+Mira+Vista+-+Berkeley+North!5e0!3m2!1sen!2sus!4v1425861276053" width="600" height="450" frameborder="0" style="border:0"></iframe>

            <p>Hotel Mira Vista<br/>
            6009 Potrero Avenue<br/>
            El Cerrito, California 94530 USA<br/>
            Reservations: (877) 476-6674</p>

            <p>Rates are $109 + tax for single rooms, with a king sized bed,
            and $119 + tax for double rooms, with two full beds. All rates are
            for two adults, and each additional adult (up to four adults total)
            is an extra $10. Please contact the hotel to make a booking, and
            let them know you are with Angeline Protacio’s party.</p>

            <p>Check in at Hotel Mira Vista is at 3PM, and check out is at 11AM.</p>
        </div>
    </div>
{% endblock %}
