{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Registry{% endblock %}

{% block jumbotron %}
<img src="{% static 'img/invited.jpg' %}" class="jumbotron-img" />
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3>Registry</h3>
            <p>
                <b>We do not have, or intend to have, a store registry for our wedding.</b>
                We are very grateful that many are of you are coming from so far
                for our wedding. In addition, we too are traveling to Berkeley
                from New York for this occasion. Therefore, in the interest of
                keeping things simple and light, we request <b>no boxed gifts.</b>
                Thank you very much for your understanding.
            </p>
        </div>
    </div>
{% endblock %}
